<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1;url=/result" />
    <title>Кольцевые гонки</title>
</head>
<body>
<center>
    <p> Трансляция гонки </p>

    <table>
        <thead>
        <tr>
            <th>№</th>
            <th>Время</th>
            <th>Имя</th>
            <th>Статус</th>
            <th>Сообщение.</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message, iterStat : ${history}" >
            <td th:text="${iterStat.index}+1"></td>
            <td th:text="${message.dateTime}"></td>
            <td th:text="${message.name}"></td>
            <td th:text="${message.status.label}"></td>
            <td th:text="${message.special}"></td>
        </tr>
        </tbody>
    </table>

    <p>
    <form th:action="@{/}"  method="GET">
        <input type="submit" value="Вернуться на главную" />
    </form>

</center>
</body>
</html>