<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Кольцевые гонки</title>
</head>
<body>
<center>
    <p> Результат! </p>

    <table>
        <thead>
        <tr>
            <th>Место </th>
            <th>Участник</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member, iterStat : ${result}" >
            <td th:text="${iterStat.index}+1"></td>
            <td th:text="${member.name}"></td>
        </tr>
        </tbody>
    </table>

    <p>
    <form action="#" th:action="@{/racing}" method="post">
        <button type="submit" value="submit" class="btn btn-success">Повторить гонку!</button>
    </form>

    <p>
    <form th:action="@{/}"  method="GET">
        <input type="submit" value="Вернуться на главную" />
    </form>

    <p> Протокол! </p>
    <table>
        <thead>
        <tr>
            <th>№</th>
            <th>Время</th>
            <th>Имя</th>
            <th>Статус</th>
            <th>Сообщение.</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message, iterStat : ${history}" >
            <td th:text="${iterStat.index}+1"></td>
            <td th:text="${message.dateTime}"></td>
            <td th:text="${message.name}"></td>
            <td th:text="${message.status.label}"></td>
            <td th:text="${message.special}"></td>
        </tr>
        </tbody>
    </table>

</center>
</body>
</html>