<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Кольцевые гонки</title>
</head>
<body>

<center>
    <p>Параметры трассы</p>
    <p th:text="'Длина: ' + ${track.getLenght()} + ' (м)'"></p>


<p> Участники гонки </p>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Тип</th>
            <th>Название</th>
            <th>Скорость (м/с)</th>
            <th>Вероятность прокола (%)</th>
            <th>Особенности</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transport, stat : ${transports.items}">
            <td th:text="${stat.index}+1"></td>
            <td th:text="${transport.getType()}"></td>
            <td th:text="${transport.getName()}"></td>
            <td th:text="${transport.getSpeed()}"></td>
            <td th:text="${transport.getPuncture()}"></td>
            <td th:text="${transport.getFeature()}"></td>
        </tr>
        </tbody>
    </table>

    <p>
    <form action="#" th:action="@{/racing}" method="post">
        <button type="submit" value="submit" class="btn btn-success">Начать гонку!</button>
    </form>

    <p>
    <form th:action="@{/}"  method="GET">
        <input type="submit" value="Вернуться на главную" />
    </form>

</center>
</body>
</html>